* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(248, 248, 242);/*cor da letra de todo o arquivo*/
    font-family: 'Kanit', sans-serif;
}

ul{
    list-style: none;
    font-size:large;
    font-style: italic;
    font-weight: 600;
}

a{
    text-decoration: none;
}

body{
    background: url(../imagens/img7.jpg) no-repeat center fixed;
    background-size: cover;
    /* background: linear-gradient(90deg, #0052d4,#4364f7,#6fb1fc); */
    /* background-color: black; */
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* border: 1px solid white; */
    /* border-bottom: 2px solid white; */
    /* box-shadow: 1px 1px 10px 1px white; */
    /* border-bottom: 15px ridge white; */
    margin-bottom: 45px;
}

header ul{
    display: flex;
}

header ul li{
    padding: 5px;
    /* border-bottom: 1px dashed white; */
    /* border-left: 1px dashed white; */

}

header ul li a{
    transition: 300ms;
}

header ul li a:hover{
    color: #c0a717;
}


/* header ul li:first-child{
    border-left: 1px dashed white;
} */

.container{
    text-align: center;
    font-size: 40px;
    animation: blink 1s steps(5, start);
}

.animation{
    transition: 300ms;
}

.rotate{
    transform: rotate(180deg);
    transform: 300ms;
}

.active{
    display: block !important;
}

@keyframes blink{
    to{
        visibility: hidden;
    }

}


#arrow{
    font-size: 50px;
    cursor: pointer;

}

#about{
    display: flex;
    max-width: 600px;
    font-size: 20px;
    margin: 0 auto;
    text-align: justify;

}

.form{
    width: 30%;
    margin: 0 auto;
    /* border: thick double white; */
    padding: 5px;
    margin-top: 50px;
}



.form input{
    width: 70%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    color: black;
}

.form button{
    width: 15%;
    margin: 10px;
    font-weight: 600;
    padding:  5px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% 100%;
    color: rgb(5, 5, 5);
    border: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;

}


.form button:hover{
    background-position: left bottom;
    background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%);
    margin: 8px 10px 12px;
}

.contato{
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    text-align: center;
}

@media only screen and (max-width: 768px){
    .form{
        width: 100%;
    }
}

@media only screen and (max-width: 480px){
    .container{
        max-width: 300px;
    }

    .container .name h1{
        font-size: 20px;
    }

    .container .name h2{
        font-size: 10px;
    }

    #about p{
        max-width: 250px;
        font-size: 10px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
}

